.bubble {
    background-color: #F0F0F0;
    padding: 1rem;
    margin: 1rem 10rem 1rem 10rem;
    border-radius: 1rem;
    border: 0.1rem solid #A070C0;
}

.you {
    background-color: #C0F0A0;
    margin-right: 1rem;
    border-radius: 1rem 1rem 0.1rem 1rem;
}

.others {
    background-color: #D0A0F0;
    margin-left: 1rem;
    border-radius: 1rem 1rem 1rem 0.1rem;
}
