name: C/C++ CI

on:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Install Dependencies
      run: sudo apt update && sudo apt upgrade && sudo apt install make libgtkmm-4.0-dev libwebkitgtk-6.0-dev
    - name: Build Tests
      run: make tests
    - name: Run Display Mock
      run: Xvfb
    - name: Run Tests
      run: ./multiapp_tests.exe
    - name: Build Project
      run: make
