name: C/C++ CI

on:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Dependencies
      run: sudo apt update && sudo apt install xvfb make libgtkmm-4.0-dev libwebkitgtk-6.0-dev libgtest-dev
    - name: Build Tests
      run: make tests
    - name: Run Tests
      run: xvfb-run ./multiapp_tests.exe
    - name: Build Project
      run: make
